<% include ../includes/header.ejs %>

<form action="/promocoes" method="POST">

  <div>
    <label for="mensagem">Mensagem: </label>
    <input type="text" name="mensagem" id="mensagem">
  </div>

  <div>
    <label for="selecao">Selecione o livro: </label>
    <select name="livro[id]" id="selecao">
      <% livros.map((livro) => { %>
        <option value="<%= livro.id %>"><%= livro.titulo %></option>
      <% }) %>

    </select>
  </div>

  <input type="submit" value="Enviar Promoçao">
</form>

<% include ../includes/footer.ejs %>
